body{
    background-image: url(https://es.123rf.com/photo_59790396_cocina-aut%C3%A9ntica-de-marruecos-placa-con-la-bandera-marroqu%C3%AD-y-cubiertos.html);
    height: 100%;
    background-position:center;
    background-repeat:no-repeat ;
    position: relative;
}
